<div class="col main pt-1 mt-1">
    <h1 class="display-3 d-none d-sm-block">
        OverView
    </h1>
    <div class="row">
        <div class="col-lg-12 main pt-3 mt-1 card-tab">
            <div class="row mb-3">
                <div class="col-xl-3 col-sm-6 py-2">
                    <div class="card bg-success text-white h-60">
                        <div class="card-body bg-success">
                            <div class="rotate">
                                <i class="fa fa-user fa-2x"></i>
                            </div>
                            <h6 class="text-uppercase">Total Policy</h6>
                            <h1 class="display-4">134</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 py-2">
                    <div class="card text-white bg-danger h-60">
                        <div class="card-body bg-danger">
                            <div class="rotate">
                                <i class="fa fa-list fa-2x"></i>
                            </div>
                            <h6 class="text-uppercase">Current week Renewal</h6>
                            <h1 class="display-4">87</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 py-2">
                    <div class="card text-white bg-info h-60">
                        <div class="card-body bg-info">
                            <div class="rotate">
                                <i class="fa fa-twitter fa-2x"></i>
                            </div>
                            <h6 class="text-uppercase">upcoming week renewal</h6>
                            <h1 class="display-3">125</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 py-2">
                    <div class="card text-white bg-warning h-60">
                        <div class="card-body">
                            <div class="rotate">
                                <i class="fa fa-share fa-2x"></i>
                            </div>
                            <h6 class="text-uppercase">Upcoming Month renewal</h6>
                            <h1 class="display-3">36</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    

    <div class="row" style="height: 60vh; overflow-y: scroll;  overflow-x: hidden;">
        <div class="col-lg-12 col-md-12 mat-tables">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="sno">
                    <th mat-header-cell *matHeaderCellDef> S.No </th>
                    <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                </ng-container>


                <ng-container matColumnDef="fname">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.fname}} </td>
                </ng-container>


                <ng-container matColumnDef="group">
                    <th mat-header-cell *matHeaderCellDef> Group </th>
                    <td mat-cell *matCellDef="let element"> {{element.group}} </td>
                </ng-container>

                <ng-container matColumnDef="contactNo">
                    <th mat-header-cell *matHeaderCellDef> Contact No </th>
                    <td mat-cell *matCellDef="let element"> {{element.contact_no}} </td>
                </ng-container>

                <ng-container matColumnDef="vehicleType">
                    <th mat-header-cell *matHeaderCellDef> Vehicle Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.vehicle_type}} </td>
                </ng-container>

                <ng-container matColumnDef="renewalDate">
                    <th mat-header-cell *matHeaderCellDef> Renewal Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.renewal_date}} </td>
                </ng-container>

                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef> Address </th>
                    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element" class="action-link">
                        <a (click)="openDialog('details',element)">Details</a>
                        <a (click)="openDialog('Update',element)">Edit</a> |
                        <a (click)="openDialog('Delete',element)">Delete</a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>
        </div>

    </div>





</div>